@model IEnumerable<Wallet.Models.Credential>

<div class="container w-50 p-2  border rounded-1">
    <h2>Access request</h2>
    <hr/>
    <p>
        Service endpoint <b>@ViewData["ClientName"]</b> wants to access a verifiable credential
        of type <b>@ViewData["Type"]</b>. Allow access?
    </p>
    <div class="alert alert-warning" role="alert">
        <h4>What happens next</h4>
        <ul>
            <li>Make sure you know who is requesting the verifiable credental.</li>
            <li>If you decide to allow access, you will be provided with a list of suitable verifiable credentials.</li>
            <li>The selected verifiable credential will be included in a signed message that will be
                transmitted to the requesting entity.
            </li>
        </ul>
    </div>
    <form method="post">
        <p>Select the credential to submit:</p>
        @foreach (var credential in Model)
        {
            <div class="form-check">
                <input class="form-check-input p-1" type="radio" name="cred_id" id="@credential.jti" value="@credential.jti">
                <label class="form-check-label" for="@credential.jti">
                    @credential.jti
                </label>
                <button type="button" class="btn btn-link p-0" onclick="showDetailsModal('@credential.Id')">Details</button>
            </div>
        }
        <br/>
        <button type="submit" class="btn btn-warning">Allow</button>
        <a class="btn btn-link" asp-action="Index" role="button">Cancel</a>
    </form>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="detailsModalLabel">Verifiable Credential</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <code><pre id="details"></pre></code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function showDetailsModal(id) {
            document.getElementById('details').innerHTML = "";
            var request = fetch('/Credentials/Details/' + id).then((response) => {
                response.text().then((data) => {
                    document.getElementById('details').innerHTML = data
                })
            })
            const offerModal = new bootstrap.Modal(document.getElementById('detailsModal'), {})
            offerModal.show();
        }
    </script>
}